.one {

   text-align: center;
   color: rgba(240, 248, 255, 0.911);
   font-family: 'Lucida Sans', 'Lucida Sans Regular',
   'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
   sans-serif;
   margin-top: 20px;

}

body {

    background-color: rgba(0, 128, 0, 0.644);

}


#two {

    color: rgba(255, 255, 0, 0.856);

}



#but {

    color: rgba(0, 128, 0, 0.918);
    background-color: yellow;
    padding: 10px;





}

#but1 {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

     color: green;
    background-color: yellow;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;

}